---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

import NavBar from "../components/NavBar.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

let name = data?.user?.email;
if (name == "harryjhoi01@gmail.com") {
  name = "Jhoi 🫰🏻";
} else {
  name = "Maryuri";
}
---

<Layout title="dashboard">
  <NavBar name={name} />
  <!--Container-->
  <div class="container w-full mx-auto pt-20">
    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
    </div>
  </div>
  <!--/container-->

  <script>
    import Swal from "sweetalert2";

    const userMenuDiv = document.getElementById("userMenu") as HTMLElement;
    const userMenu = document.getElementById("userButton") as HTMLElement;

    const navMenuDiv = document.getElementById("nav-content") as HTMLElement;
    const navMenu = document.getElementById("nav-toggle") as HTMLElement;

    document.onclick = check;

    function check(e: MouseEvent) {
      const target =
        (e.target as HTMLElement) ||
        ((event && event.srcElement) as HTMLElement);

      // User Menu
      if (!isDescendant(target, userMenuDiv)) {
        // click NOT on the menu
        if (isDescendant(target, userMenu)) {
          // click on the link
          if (userMenuDiv.classList.contains("invisible")) {
            userMenuDiv.classList.remove("invisible");
          } else {
            userMenuDiv.classList.add("invisible");
          }
        } else {
          // click both outside link and outside menu, hide menu
          userMenuDiv.classList.add("invisible");
        }
      }

      // Nav Menu
      if (!isDescendant(target, navMenuDiv)) {
        // click NOT on the menu
        if (isDescendant(target, navMenu)) {
          // click on the link
          if (navMenuDiv.classList.contains("hidden")) {
            navMenuDiv.classList.remove("hidden");
          } else {
            navMenuDiv.classList.add("hidden");
          }
        } else {
          // click both outside link and outside menu, hide menu
          navMenuDiv.classList.add("hidden");
        }
      }
    }

    function isDescendant(target: HTMLElement, parent: HTMLElement): boolean {
      while (target.parentNode) {
        if (target === parent) return true;
        target = target.parentNode as HTMLElement;
      }
      return false;
    }
  </script>
</Layout>


